header{
    background-color: orange;
    width: 100%;
    height: 90px;
    top: 0;
    padding-left: 10px;
    padding-top: 10px;
}
body {
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 15%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
}

a {
  color: #00B7FF;
}
#signInBtn{
  width: 50%;
  text-align: center;
}
#loginSection{
  width: 50%;
  margin: auto;
  padding: 30px;
}
#txtEmail, #txtPassword{
  width: 50%;
  padding: 5px;
}
/*Stil for utforming på alle sider*/
.layoutSection{
  width: 90%;
  margin: auto;
}

/*------------overview---------------------*/


#headr{
    padding-left: 17%;
}
#myCourse{
    position: fixed;
    right: 0px;
    margin-right: 10%;
}
#overview{
    padding-left: 17%;
}

#search{
    float: right;
    padding-right: 10%;
}
input{

}

#searchBtn{
    width:60px;
    text-align: center;
}